<% content_for :page_header do %>
  <h1 class="heading text-left">Dashboard
    <small>
		  <i class="ace-icon fa fa-angle-double-right"></i>
		  Visualize rapidamente suas estatísticas
		</small>
  </h1>
<% end %>

<div class="col-sm-7">
		<div class="infobox <%= get_dashboard_color(@balance) %> col-lg-3 col-xs-6">
			<div class="infobox-icon">
				<i class="ace-icon fa <%= get_icon_balance(@balance) %>"></i>
			</div>
			<div class="infobox-data">
				<span class="infobox-data-number"><%= @balance.to_s %></span>
				<div class="infobox-content">Saldo de horas</div>
			</div>
		</div>

		<div class="infobox infobox-blue">
			<div class="infobox-icon">
				<i class="ace-icon fa fa-user"></i>
			</div>

			<div class="infobox-data">
				<span class="infobox-data-number"><%= current_user.workload.to_s(:time) %></span>
				<div class="infobox-content">Jornada de trabalho</div>
			</div>
		</div>

		<div class="infobox infobox-pink">
			<div class="infobox-icon">
				<i class="ace-icon fa fa-sign-out"></i>
			</div>

			<div class="infobox-data">
				<span class="infobox-data-number"><%= @departure_time.to_s(:time) %></span>
				<div class="infobox-content">Previsão de saída</div>
			</div>
		</div>

		<div class="infobox infobox-blue2">
			<div class="infobox-progress">
        <%
          base_time = Time.zone.local(1999, 8, 1).midnight
          time_1 = Time.zone.local(1999, 8, 1).change(hour: current_user.workload.hour, min: current_user.workload.min)
          time_2 = Time.zone.local(1999, 8, 1).change(hour: @total_worked.hour, min: @total_worked.min)

          percentage = (( (time_2 - base_time) / (time_1 - base_time) ) * 100).round(1)
         %>
				<div class="easy-pie-chart percentage" data-percent="<%= percentage %>" data-size="60" style="height: 60px; width: 60; line-height: 58px;">
					<span class="percent"><%= percentage %></span>%
				<canvas height="60" width="60"></canvas></div>
			</div>

			<div class="infobox-data">
				<span class="infobox-data-number"><%= @total_worked.to_s(:time) %></span>

				<div class="infobox-content">Total de hoje</div>
			</div>
		</div>


	</div>
