<div class="span7">
  <div class="well sidebar-nav">    
    <h2><%= t 'resend_confirmation' %></h2>

	<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
	  <%= devise_error_messages! %>

	  <%= f.label :email %>
	  <%= f.email_field :email, :autofocus => true %>

	  <div><%= f.submit t('resend_confirmation'), class: 'btn' %></div>
	<% end %>
  </div>
</div>
<div class="span4">
  <div class="well sidebar-nav">    
    <%= render "devise/shared/links" %>
  </div>
</div>
