<div class="form-group">
  <label class="col-sm-3 control-label no-padding-right" for="form-field-date">Nome</label>
  
  <div class="col-sm-9">
    <%= link_to_remove_association '<span class="text-danger"> <i class="fa fa-trash fa-3x"></i></span>'.html_safe, f, class: 'pull-right col-xs-2 col-sm-1',
      wrapper_class: 'account-pane', data: { confirm: t('helpers.links.account_confirm') } %>
    <div class="input-medium">
      <div class="input-group">
        <%= f.input_field :name, required: true %>
        <%= f.full_error :name, class: 'text-danger' %>
      </div>
    </div>
  </div>

</div>

<div class="form-group">
  <label class="col-sm-3 control-label no-padding-right" for="form-field-date">Jornada de Trabalho</label>

  <div class="col-sm-9">
    <div class="input-medium">
      <div class="input-group">
        <%= f.input_field :workload, required: true, class: 'timepicker', value: f.object.workload.try(:strftime, "%H:%M") %>
        <span class="input-group-addon">
          <i class="ace-icon fa fa-clock-o"></i>
        </span>
        <%= f.full_error :workload, class: 'text-danger' %>
      </div>
    </div>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-3 control-label no-padding-right" for="form-field-date">Tempo médio de Almoço</label>

  <div class="col-sm-9">
    <div class="input-medium">
      <div class="input-group">
        <%= f.input_field :lunch_time, class: 'timepicker', value: f.object.lunch_time.try(:strftime, "%H:%M") || Time.current.midnight.strftime("%H:%M") %>
        <span class="input-group-addon">
          <i class="ace-icon fa fa-clock-o"></i>
        </span>
        <%= f.full_error :lunch_time, class: 'text-danger' %>
      </div>
    </div>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-3 control-label no-padding-right" for="form-field-date">Avisar quando forem trabalhadas mais de 6 horas consecutivas (Art. 71): </label>

  <div class="col-sm-9 top-10">
    <div class="input-medium">
        <%= f.input_field :warn_straight_hours, as: :boolean, class: 'yes-no-checkbox-switch', checked: f.object.warn_straight_hours %>
    </div>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-3 control-label no-padding-right" for="form-field-date">Avisar quando forem trabalhadas mais de 2 horas extras (Art. 59): </label>

  <div class="col-sm-9 top-10">
    <div class="input-medium">
      <%= f.input_field :warn_overtime, as: :boolean, class: 'yes-no-checkbox-switch', checked: f.object.warn_overtime %>
    </div>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-3 control-label no-padding-right" for="form-field-date">Recomendar próxima entrada para não realizar menos de 11 horas consecutivas de descanso (Art. 66): </label>

  <div class="col-sm-9 top-10">
    <div class="input-medium">
      <%= f.input_field :warn_rest_period, as: :boolean, class: 'yes-no-checkbox-switch', checked: f.object.warn_rest_period %>
    </div>
  </div>
</div>
<%= f.input :_type, as: :hidden, value: f.object.class %>