<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="login-panel panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= t('sign_up') %></h3>
      </div>
      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'col-md-6'}) do |f| %>
            <%= devise_error_messages! %>
            <fieldset>
              <div class="form-group">
                <%= f.label :name %>
                <%= f.text_field :name, autofocus: true, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :email %>
                <%= f.email_field :email, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :gender %>
                <%= f.collection_radio_buttons(:gender, User::GENDER, :first, :last) do |b| %>
                    <div class="radio">
                      <%= b.label { b.radio_button + t("genders.#{b.text.to_s}") } %>
                    </div>
                <% end %>
              </div>
              <div class="form-group">
                <%= f.label :birthday %>
                <div class="col-bg-12"></div>
                <%= date_select('user', 'birthday', {}, {class: 'form-control'}) %>
              </div>
              <div class="form-group">
                <%= f.label :password %>
                <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
              </div>
              <!-- Change this to a button or input when using this as a form -->
              <%= f.submit t('sign_up'), class: 'btn btn-lg btn-success btn-block' %>
            </fieldset>
        <% end %>
        <div class="col-md-6">
          <h3>OR Sign up with one of your social network accounts</h3>
          <%= render "devise/shared/social" %>
        </div>
      </div>
    </div>
  </div>
</div>