<div class="span7">
  <div class="well sidebar-nav">    
    <h2><%= t 'sign_up' %></h2>

	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	  <%= devise_error_messages! %>

	  <%= f.label :email %>
	  <%= f.email_field :email, :autofocus => true %>

	  <%= f.label :password %>
	  <%= f.password_field :password %>

	  <%= f.label :password_confirmation %>
	  <%= f.password_field :password_confirmation %>

	  <div><%= f.submit t('sign_up'), class: 'btn' %></div>
	<% end %>
  </div>
</div>
<div class="span4">
  <div class="well sidebar-nav">    
    <%= render "devise/shared/links" %>
  </div>
</div>
