<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="top_b">Cadastre-se no Meu Controle de Ponto</div>
  <%= f.error_notification %>
  <div class="cnt_b">
    <%= f.input :email, required: true, autofocus: true, label: false, placeholder: 'Email' %>
    <%= f.input :first_name, required: true, label: false, placeholder: 'Nome' %>
    <%= f.input :last_name, label: false, placeholder: 'Sobrenome' %>
    <%= f.input :birthday, required: true, label: false, placeholder: 'Data de Nascimento' %>
    <%= f.input :gender, prompt: 'Sexo:', label: false %>
    <%= f.input :password, required: true, placeholder: 'Senha', label: false, hint: ("Minimo de #{@minimum_password_length} caracteres" if @validatable) %>
    <%= f.input :password_confirmation, label: false, required: true, placeholder: 'Confirmação de Senha' %>
  </div>
  <div class="btm_b clearfix">
    <%= f.button :submit, "Sign Up", class: 'pull-right' %>
  </div>
<% end %>
<div class="links_b links_btm clearfix">
  <%= render "devise/shared/links" %>
</div>

<%= javascript_include_tag 'jquery.min' %>
<%= javascript_include_tag 'jquery-inputmask' %>

<script charset="utf-8">
$(document).ready(function(){
  $('#user_birthday').inputmask("99/99/9999");
});
</script>
