<div class="span7">
  <div class="well sidebar-nav">    
	<h2><%= t 'forgot_password' %></h2>

	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
	  <%= devise_error_messages! %>

	  <%= f.label :email %>
	  <%= f.email_field :email, :autofocus => true %>

	  <div><%= f.submit t('send_password_instructions'), class: 'btn' %></div>
	<% end %>
  </div>
</div>
<div class="span4">
  <div class="well sidebar-nav">    
    <%= render "devise/shared/links" %>
  </div>
</div>