<%- model_class = Record -%>
<div class="page-header">
  <h1><%=t 'daily_report_title' %></h1>  
    <h2 data-toggle="collapse" data-target="#filter"><a href="#"><%= l @record.time, :format => :only_date %></a></h2>
    <div id="filter" class="collapse">
      <%= form_for @record, :url => { :action => 'daily_report' }, :html => { :class => 'form-horizontal' } do |f| %>  
        <div class="control-group">
          <%= f.label :time, :class => 'control-label' %>
          <div class="controls">
            <%= date_select('record','time') %>
          </div>
        </div>

        <div class="form-actions">
          <%= f.submit t('filter'), :class => 'btn btn-primary' %>
          <%= link_to t('.cancel', :default => t("helpers.links.cancel")), records_path, :class => 'btn' %>
        </div>
      <% end %>
    </div>  
</div>
<p class="pull-right">Tempo total trabalhado <%= l @total, :format => :minimal %></p>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:time) %></th>      
    </tr>
  </thead>
  <tbody>
    <% @records.each do |record| %>
      <tr>        
        <td><%= l record.time, :format => :short %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @records %>