<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Registros de <span id="date-to-see"><%= l @date_to_see %></span>
      <a id="calendar-link" href="#">
        <i class="fa fa-calendar fa-fw"></i>
      </a>
    </h1>

    <div class="row pull-right">
      <%= render_widget :record, :total_worked_hours %>
      <%= render_widget :record, :remaining_hours %>
    </div>
    <%= link_to t('helpers.links.new'), new_record_path, :class => 'btn btn-primary btn-lg' %>
    <div id="datepicker"></div>
  </div>
  <!-- /.col-lg-12 -->
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="table-responsive">
      <table class="table" id="records-table">
        <thead>
        <tr>
          <th><%= t 'mongoid.models.record' %></th>
          <th><%= t 'helpers.actions' %></th>
        </tr>
        </thead>
        <tbody>
        <%= render partial: "records_list", records: @records %>
        </tbody>
      </table>
    </div>
  </div>
</div>