<%- model_class = Record -%>
<div class="page-header">
  <h1><%=t 'monthly_report_title' %></h1>  
    <h2 data-toggle="collapse" data-target="#filter"><a href="#"><%= l @record.time, format: :only_month %></a></h2>
    <div id="filter" class="collapse">
      <%= form_for @record, url: { action: 'monthly_report' }, html: { class: 'form-horizontal' } do |f| %>  
        <div class="control-group">
          <%= f.label t('datetime.prompts.month'), class: 'control-label' %>
          <div class="controls">
            <%= date_select('record','time', discard_day: true) %>
          </div>
        </div>
        <div class="form-actions">
          <%= f.submit t('filter'), class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>  
</div>
<table class="table table-striped collapsible-table" >
  <thead>
    <tr>
      <th><%= t('datetime.prompts.day') %></th>
    </tr>
  </thead>
  <tbody>
    <% @records.each do |record| %>
      <% @records_array = record.third 
         @total_of_day = record.second
      %>
      <tr class="<%= @total_of_day.hour >= 8 ? 'success' : 'error' %>">
        <td>
          <h4><%= l @records_array.first.time, :format => :no_time %><a class="btn btn-small pull-right" href="#">+</a><p class="pull-right span3">Total trabalhado: <%= l @total_of_day, format: :minimal %></p></h4>
          <div class="hide">
            <% @records_array.each do |rec| %>
              <p class="text-black"><%= l rec.time, :format => :minimal %></p>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<p class="pull-right span9 text-right">Total de horas trabalhadas : <%= @total_on_month[:diff] %> </p>
<p class="pull-right span9 text-right">Total de horas que deveriam ter sido trabalhadas : <%= @should_have_worked %> <%= t('datetime.prompts.hour').pluralize %> </p>
<p class="pull-right span9 text-right <%= @credit ? 'text-success' : 'text-error' %>"><%= @credit ? 'Crédito' : 'Débito' %> de <%= @credit_debit_hours[:diff] %> </p>