<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Controle os horários de entrada, intervalo, saída e horas-extras de forma simples, prática e rápida." />
    <meta name="author" content="Thiago von Sydow <thiagovs05@gmail.com>">

    <meta property="og:title" content="Meu Controle de Ponto" />
    <meta property="og:url" content="http://www.meucontroledeponto.com.br" />
    <meta property="og:image" content="<%= image_url 'slideshow2.png' %>" />

    <%= render partial: 'shared/favicons' %>

    <title>Meu Controle de Ponto - Controle pessoal de horas trabalhadas.</title>

    <!-- Custom styles for this template -->
    <%= stylesheet_link_tag 'main', media: 'all' %>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700,800' rel='stylesheet' type='text/css'>

    <%= render partial: 'shared/analytics_script' %>
  </head>

  <body>
    <!-- start preloader -->
		<div class="preloader">
			<div class="sk-spinner sk-spinner-rotating-plane"></div>
    	 </div>
		<!-- end preloader -->
		<!-- start navigation -->
		<nav class="navbar navbar-default navbar-fixed-top templatemo-nav" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
					</button>
					<a href="#" class="navbar-brand">
            <small>
              <span class="fa-stack fa-1x">
                <i class="fa fa-calendar-o fa-stack-2x"></i>
                <i class="fa fa-clock-o" style="right: 6px; bottom: 3px; position: absolute;"></i>
              </span>
              <span class="hidden-xs">Meu Controle de Ponto</span>
            </small>
          </a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right text-uppercase">
						<li><a href="#feature">Funcionalidades</a></li>
						<li><a href="#contact">Contato</a></li>
						<li><%= link_to 'Login', new_user_session_path, class: 'external' %></li>
						<li><%= link_to 'Cadastre-se', new_user_registration_path, class: 'external' %></li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- end navigation -->
		<!-- start home -->
		<section id="home">
			<div class="overlay">
				<div class="container">
					<div class="row">
						<div class="col-md-1"></div>
						<div class="col-md-10 wow fadeIn" data-wow-delay="0.3s">
							<h1 class="text-upper">Meu Controle de Ponto</h1>
							<p class="tm-white">Administre melhor o seu tempo. Configure uma jornada, seja de trabalho ou estudos, e visualize o total de horas de maneira simples e objetiva.</a></p>
							<%= image_tag 'home-image.png', class: 'img-responsive', alt: 'home img' %>
						</div>
						<div class="col-md-1"></div>
					</div>
				</div>
			</div>
		</section>
		<!-- end home -->
		<!-- start divider -->
		<section id="divider">
			<div class="container">
				<div class="row">
					<div class="col-md-4 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
						<i class="fa fa-chain-broken"></i>
						<h3 class="text-uppercase">Sem Restrição</h3>
            <p>Marque quantas entradas e saídas precisar. Você pode editar os seus horários, adicionar anotações e gerar relatórios.</p>
					</div>
					<div class="col-md-4 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
						<i class="fa fa-smile-o"></i>
						<h3 class="text-uppercase">100% Gratuito</h3>
						<p>Utilize gratuitamente sem restrições.</p>
					</div>
					<div class="col-md-4 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
						<i class="fa fa-github"></i>
						<h3 class="text-uppercase">Open Source</h3>
						<p>Código totalmente aberto, podendo ser encontrado <a href="https://github.com/thiago-sydow/controle-de-ponto">aqui.</a></p>
					</div>
				</div>
			</div>
		</section>
		<!-- end divider -->

    <!-- start feature -->
		<section id="feature" class="feature-block feature-even">
			<div class="container">
				<div class="row">
					<div class="col-md-6 wow fadeInRight" data-wow-delay="0.6s">
            <%= image_tag 'feature-exportar.png', class: 'img-responsive', alt: 'home img' %>
					</div>
					<div class="col-md-6 wow fadeInLeft" data-wow-delay="0.6s">
						<h2 class="text-uppercase">Exportar Relatório</h2>
            <p>
              Gere um relatório para um período em:
              <ul>
                <li>PDF</li>
                <li>Excel</li>
              </ul>
            </p>
          </div>
				</div>
			</div>
		</section>
		<!-- end feature -->

    <!-- start feature -->
		<section class="feature-block">
			<div class="container">
				<div class="row">
					<div class="col-md-6 wow fadeInLeft" data-wow-delay="0.6s">
						<h2 class="text-uppercase">Fechamentos</h2>
            <p>
              Informe um Fechamento para:
              <ol>
                <li>Somar o total de horas para o período</li>
                <li>Reiniciar a contagem do saldo</li>
              </ol>
            </p>
          </div>
          <div class="col-md-6 wow fadeInRight" data-wow-delay="0.6s">
            <%= image_tag 'feature-fechamento.png', class: 'img-responsive', alt: 'home img' %>
					</div>
				</div>
			</div>
		</section>
		<!-- end feature -->

    <!-- start feature -->
		<section class="feature-block feature-even">
			<div class="container">
				<div class="row">
					<div class="col-md-6 wow fadeInRight" data-wow-delay="0.6s">
            <%= image_tag 'feature-criar-contas.png', class: 'img-responsive', alt: 'home img' %>
					</div>
					<div class="col-md-6 wow fadeInLeft" data-wow-delay="0.6s">
						<h2 class="text-uppercase">Múltiplas Contas</h2>
            <p>
              Crie quantas contas desejar, entre os tipos:
              <ul>
                <li>Emprego CLT</li>
                <li>Autônomo</li>
                <li>Estudos</li>
              </ul>
            </p>
          </div>
				</div>
        <div class="row" style="height: 50px;">
        </div>
        <div class="row">
          <div class="col-md-6 wow fadeInLeft" data-wow-delay="0.6s">
            <p><i class="fa fa-retweet fa-2x"></i>Alterne entre suas contas rapidamente.</p>
          </div>
          <div class="col-md-6 wow fadeInRight" data-wow-delay="0.6s">
            <%= image_tag 'feature-trocar-contas.png', class: 'img-responsive', alt: 'home img' %>
          </div>
        </div>
			</div>
		</section>
		<!-- end feature -->

		<!-- start feature -->
		<section class="feature-block">
			<div class="container">
				<div class="row">
					<div class="col-md-6 wow fadeInLeft" data-wow-delay="0.6s">
						<h2 class="text-uppercase">Trabalhador CLT</h2>
						<p><span><i class="fa fa-exclamation-triangle fa-2x"></i></span>Seja alertado dos dias em que alguma lei CLT foi infrigida. Visualize sua próxima entrada mínima recomendada.</p>
						<p><span><i class="fa fa-eye fa-2x"></i></span>Acompanhe tempo real quanto tempo trabalhou, e a previsão do horário de saída.</p>
					</div>
					<div class="col-md-6 wow fadeInRight" data-wow-delay="0.6s">
            <%= image_tag 'feature-alertas-clt.png', class: 'img-responsive', alt: 'home img' %>
					</div>
				</div>
        <div class="row" style="height: 50px;">
        </div>
        <div class="row">
          <div class="col-md-6 wow fadeInLeft" data-wow-delay="0.6s">
            <%= image_tag 'feature-configs-clt.png', class: 'img-responsive', alt: 'home img' %>
					</div>
					<div class="col-md-6 wow fadeInRight" data-wow-delay="0.6s">
						<p><span><i class="fa fa-cog fa-2x"></i></span>Configure sua jornada de trabalho, tempo de almoço médio, tempo de tolerância.</p>
						<p><span><i class="fa fa-cog fa-2x"></i></span>Configure quais das leis CLT você deseja ser alertado quando ocorrer uma infração.</p>
					</div>
				</div>
			</div>
		</section>
		<!-- end feature -->

		<!-- start feature -->
		<section class="feature-block feature-even" >
			<div class="container">
				<div class="row">
					<div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
						<h2 class="text-uppercase">Trabalhador Autônomo</h2>
						<p><i class="fa fa-eye fa-2x"></i>Visualize o total de horas trabalhadas.</p>
						<p><i class="fa fa-usd fa-2x"></i>Visualize o total de ganhos.</p>
					</div>
					<div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
            <%= image_tag 'feature-saldo-autonomo.png', class: 'img-responsive', alt: 'home img' %>
					</div>
				</div>
        <div class="row" style="height: 50px;"></div>
        <div class="row">
					<div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
            <%= image_tag 'feature-configs-autonomo.png', class: 'img-responsive', alt: 'home img' %>
					</div>
					<div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
						<p><i class="fa fa-cog fa-2x"></i>Configure uma jornada diária para organizar seu tempo.</p>
						<p><i class="fa fa-cog fa-2x"></i>Configure o valor da sua hora para calcular os ganhos.</p>
					</div>
				</div>
			</div>
		</section>
		<!-- end feature -->

    <!-- start feature -->
		<section class="feature-block">
			<div class="container">
				<div class="row">
					<div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
						<h2 class="text-uppercase">Estudante</h2>
						<p><i class="fa fa-eye fa-2x"></i>Visualize o total de horas estudadas.</p>
						<p><i class="fa fa-line-chart fa-2x"></i>Visualize como você está em relação à sua meta.</p>
					</div>
					<div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
            <%= image_tag 'feature-saldo-estudos.png', class: 'img-responsive', alt: 'home img' %>
					</div>
				</div>
        <div class="row" style="height: 50px;"></div>
        <div class="row">
					<div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
            <%= image_tag 'feature-configs-estudo.png', class: 'img-responsive', alt: 'home img' %>
					</div>
					<div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
						<p><i class="fa fa-cog fa-2x"></i>Configure sua jornada diária para organizar seu tempo.</p>
					</div>
				</div>
			</div>
		</section>
		<!-- end feature -->

    <!-- start download -->
		<section id="download" class="feature-even">
			<div class="container">
				<div class="row">
					<div class="col-md-6 wow fadeInLeft" data-wow-delay="0.6s">
						<h2 class="text-uppercase">Cadastre-se, é grátis!</h2>
						<p>Cadastre um usuário e começe a controlar suas horas de forma rápida e simples.</p>
            <%= link_to 'Cadastrar', new_user_registration_path, class: 'btn btn-primary text-uppercase' %>
					</div>
					<div class="col-md-6 wow fadeInRight" data-wow-delay="0.6s">
            <%= image_tag 'home-image.png', class: 'img-responsive', alt: 'home img' %>
					</div>
				</div>
			</div>
		</section>
		<!-- end download -->

		<!-- start contact -->
		<section id="contact">
			<div class="overlay">
				<div class="container">
					<div class="row">
						<div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
							<h2 class="text-uppercase">Deixe uma mensagem!</h2>
							<p>Caso tenha alguma dúvida, preencha o formulário ao lado e entraremos em contato assim que possível.</p>
							<address>
								<p><i class="fa fa-envelope-o"></i> contato@meucontroledeponto.com.br</p>
							</address>
						</div>
						<div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
							<div class="contact-form">
                <%= render 'layouts/flash_messages' %>
        				<br>
                <%= simple_form_for @contact, url: contact_path do |f| %>
                  <div class="col-md-6">
                    <%= f.input_field :name, required: true, class: 'form-control', placeholder: 'Nome' %>
                  </div>
                  <div class="col-md-6">
                    <%= f.input_field :email, required: true, class: 'form-control', placeholder: 'Email' %>
									</div>
                  <div class="col-md-12">
                    <%= f.input_field :subject, required: true, class: 'form-control', placeholder: 'Assunto' %>
									</div>
                  <div class="col-md-12">
                    <%= f.input_field :message, as: :text, required: true, class: 'form-control', placeholder: 'Mensagem', rows: 4 %>
									</div>
                  <div class= "hidden">
                    <%= f.input :nickname, hint: 'Leave this field blank!' %>
                  </div>
                  <div class="col-md-8">
                    <%= f.button :submit, 'Enviar', class: "form-control text-uppercase" %>
									</div>
                <% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- end contact -->

		<!-- start footer -->
		<footer>
			<div class="container">
				<div class="row">
					<p>Desenvolvido por <a href="http://github.com/thiago-sydow">Thiago von Sydow</a></p>
				</div>
			</div>
		</footer>

    <%= javascript_include_tag 'main' %>
    <% if @render_from_form %>
      <script>
        $("html, body").animate({ scrollTop: $(document).height() }, "slow");
      </script>
    <% end %>
  </body>
</html>
