<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Controle os horários de entrada, intervalo, saída e horas-extras de forma simples, prática e rápida." />
    <meta name="author" content="Thiago von Sydow <thiagovs05@gmail.com>">
    <%= render partial: 'shared/favicons' %>

    <title>Meu Controle de Ponto - Controle as suas horas trabalhadas.</title>

    <!-- Custom styles for this template -->
    <%= stylesheet_link_tag    'main', media: 'all' %>

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

    <%= render partial: 'shared/analytics_script' %>
  </head>

  <body>

    <!-- Fixed navbar -->
	    <div id="navigation" class="navbar navbar-default navbar-fixed-top">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="#"><b>Meu Controle de Ponto</b></a>
	        </div>
	        <div class="navbar-collapse collapse">
	          <ul class="nav navbar-nav menu">
	            <li class="active"><a href="#section-home" onclick="ga('send', 'pageview', '/home');" >Incício</a></li>
	            <li><a href="#section-intro" onclick="ga('send', 'pageview', '/como-funciona');">Como funciona?</a></li>
	            <li><a href="#section-showcase" onclick="ga('send', 'pageview', '/imagens');">Imagens</a></li>
              <li><a href="#section-contact" onclick="ga('send', 'pageview', '/contato');">Contato</a></li>
	          </ul>
            <ul class="nav navbar-nav pull-right">
              <li><%= link_to 'Fazer login', new_user_session_path %></li>
              <li><%= link_to 'Criar uma conta', new_user_registration_path %></li>
            </ul>
	        </div><!--/.nav-collapse -->
	      </div>
	    </div>


	<section class="section-home" name="home">
  	<div id="headerwrap">
  	    <div class="container">
  	    	<div class="row centered">
  	    		<div class="col-lg-12">
  					<h1>Meu Controle de Ponto</h1>
  					<h3>Controle o seu horário de trabalho de forma prática em qualquer lugar.</h3>
  					<br>
  	    		</div>

  	    		<div class="col-lg-2">
  	    			<h5>Administre melhor o seu tempo</h5>
  	    			<p>Visualize a previsão do horário de saída, saldo de horas e total de horas trabalhadas de maneira simples e objetiva.</p>
              <%= image_tag 'arrow1.png', class: 'hidden-xs hidden-sm hidden-md' %>
  	    		</div>
  	    		<div class="col-lg-8">
              <%= image_tag 'meucontrole_estatisticas.png', class: 'pull-left img-responsive', style: 'width: 22%;' %>
              <%= image_tag 'meucontrole_intro.png', class: 'pull-right img-responsive', style: 'width: 77%;' %>
  	    		</div>
  	    		<div class="col-lg-2">
  	    			<br>
              <%= image_tag 'arrow2.png', class: 'hidden-xs hidden-sm hidden-md' %>
  	    			<h5>SEM RESTRIÇÃO: Marque quantas entradas e saídas quiser!</h5>
  	    			<p>Você pode editar os seus horários, adicionar anotações e gerar relatórios de qualquer dispositivo com acesso à internet.</p>
  	    		</div>
  	    	</div>
  	    </div> <!--/ .container -->
  	</div><!--/ #headerwrap -->
  </section>


	<section class="section-intro" name="desc">
    <!-- INTRO WRAP -->
  	<div id="intro">
  		<div class="container">
  			<div class="row centered">
  				<h1>Chega de usar planilha para controle de horas trabalhadas</h1>
  				<br>
  				<br>
  				<div class="col-lg-4">
            <%= image_tag 'intro01.png' %>
  					<h3>É só configurar e usar! Simples e muito fácil!</h3>
  					<p>O Meu Controle de Ponto facilita o controle do horário do ponto e de horas extras.</p>
  				</div>
  				<div class="col-lg-4">
            <%= image_tag 'intro02.png' %>
  					<h3>Software gratuito para controle da sua jornada de trabalho</h3>
  					<p>Organize os seus horários, jornada, calendários, justificativas, escalas, atrasos, afastamentos, férias, licenças, entre outros.</p>
  				</div>
  				<div class="col-lg-4">
            <%= image_tag 'intro03.png' %>
  					<h3>Plataforma 100% WEB e fácil atualização.</h3>
  					<p>Esteja sempre atento se deve horas ou se tem extra para receber. Você registra seus pontos e tem um relatório super completo.</p>
  				</div>
  			</div>
  			<br>
  			<hr>
  	    </div> <!--/ .container -->
  	</div><!--/ #introwrap -->
  </section>

	<section class="section-features" >
    <!-- FEATURES WRAP -->
  	<div id="features">
  		<div class="container">
  			<div class="row">
  				<h1 class="centered">Tenha total controle e saiba qual é o seu saldo de horas de trabalho</h1>
  				<br>
  				<br>
  				<div class="col-lg-6 centered">
            <%= image_tag 'mobile.png', class: 'centered' %>
  				</div>

  				<div class="col-lg-6">
  					<h3>O Meu Controle de Ponto permite que você registre seus horários e tenha um relatório de horas super completo sempre que quiser.</h3>
  					<br>
  				<!-- ACCORDION -->
              <div class="accordion ac" id="accordion2">
                  <div class="accordion-group">
                      <div class="accordion-heading">
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                            CONTROLE TOTAL
                          </a>
                      </div><!-- /accordion-heading -->
                      <div id="collapseOne" class="accordion-body collapse in">
                          <div class="accordion-inner">
  						<p>Registre suas entradas e saídas, altere ou exclua os registros sempre que quiser e tenha o cálculo de horas extras e horas devidas.</p>
  						</div><!-- /accordion-inner -->
                      </div><!-- /collapse -->
                  </div><!-- /accordion-group -->
                  <br>

                  <div class="accordion-group">
                      <div class="accordion-heading">
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                            SEM RESTRIÇÃO
                          </a>
                      </div>
                      <div id="collapseTwo" class="accordion-body collapse in">
                          <div class="accordion-inner">
  						<p>Registre quantas entradas e saídas quiser por dia.</p>
  						</div><!-- /accordion-inner -->
                      </div><!-- /collapse -->
                  </div><!-- /accordion-group -->
                  <br>

                   <div class="accordion-group">
                      <div class="accordion-heading">
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                            PAINEL
                          </a>
                      </div>
                      <div id="collapseThree" class="accordion-body collapse in">
                          <div class="accordion-inner">
  						<p>Visualize o seu saldo diário, o tempo trabalhado e a previsão de saída de forma rápida.</p>
  						</div><!-- /accordion-inner -->
                      </div><!-- /collapse -->
                  </div><!-- /accordion-group -->
                  <br>

                   <div class="accordion-group">
                      <div class="accordion-heading">
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                            RELATÓRIO COMPLETO
                          </a>
                      </div>
                      <div id="collapseFour" class="accordion-body collapse in">
                          <div class="accordion-inner">
                						<p>Você pode gerar dados referente a qualquer data, entradas e saídas, carga horária, saldo, faltas ou feriados.</p>
              						</div><!-- /accordion-inner -->
                      </div><!-- /collapse -->
                  </div><!-- /accordion-group -->
                  <br>
                  <div class="accordion-group">
                     <div class="accordion-heading">
                         <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                           DIA ÚTIL OU NÃO
                         </a>
                     </div>
                     <div id="collapseFour" class="accordion-body collapse in">
                         <div class="accordion-inner">
                           <p>Informe o seu horário de trabalho em finais de semana ou feriados.</p>
                         </div><!-- /accordion-inner -->
                     </div><!-- /collapse -->
                 </div><!-- /accordion-group -->
                 <br>
                 <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                          OBSERVAÇÕES
                        </a>
                    </div>
                    <div id="collapseFour" class="accordion-body collapse in">
                        <div class="accordion-inner">
                          <p>Inclua observações e lembre-se porquê atrasou ou fez hora-extra.</p>
                        </div><!-- /accordion-inner -->
                    </div><!-- /collapse -->
                </div><!-- /accordion-group -->
                <br>
                <div class="accordion-group">
                   <div class="accordion-heading">
                       <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                         CONFIGURAÇÕES
                       </a>
                   </div>
                   <div id="collapseFour" class="accordion-body collapse in">
                       <div class="accordion-inner">
                         <p>Você pode configurar a sua jornada de trabalho de acordo com as suas necessidades.</p>
                       </div><!-- /accordion-inner -->
                   </div><!-- /collapse -->
               </div><!-- /accordion-group -->
               <br>
               <div class="accordion-group">
                  <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                        ENCONTRE
                      </a>
                  </div>
                  <div id="collapseFour" class="accordion-body collapse in">
                      <div class="accordion-inner">
                        <p>Os seus horários estão sempre à mão. Pesquise qualquer horário em qualquer data.</p>
                      </div><!-- /accordion-inner -->
                  </div><!-- /collapse -->
              </div><!-- /accordion-group -->
              <br>
              <div class="accordion-group">
                 <div class="accordion-heading">
                     <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                       USABILIDADE
                     </a>
                 </div>
                 <div id="collapseFour" class="accordion-body collapse in">
                     <div class="accordion-inner">
                       <p>Basta se cadastrar e começar a usar. É o fim dos arquivos excel para controle de horas trabalhadas.</p>
                     </div><!-- /accordion-inner -->
                 </div><!-- /collapse -->
             </div><!-- /accordion-group -->
  					</div><!-- Accordion -->
  				</div>
  			</div>
  		</div><!--/ .container -->
  	</div><!--/ #features -->
	</section>


	<section class="section-showcase" name="showcase">
    <div id="showcase">
  		<div class="container">
  			<div class="row">
  				<h1 class="centered">Veja algumas imagens</h1>
  				<br>
  				<div class="col-lg-8 col-lg-offset-2">
  					<div id="carousel-example-generic" class="carousel slide">
  					  <!-- Indicators -->
  					  <ol class="carousel-indicators">
  					    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
  					    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  					  </ol>

  					  <!-- Wrapper for slides -->
  					  <div class="carousel-inner">
  					    <div class="item active">
                  <%= image_tag 'showcase_1.png' %>
  					    </div>
  					    <div class="item">
                  <%= image_tag 'showcase_2.png' %>
  					    </div>
                <div class="item">
                  <%= image_tag 'showcase_3.png' %>
  					    </div>
  					  </div>
  					</div>
  				</div>
  			</div>
  			<br>
  			<br>
        <br>
  			<br>
  			<br>
        <div class="row">
          <div class="col-xs-12 text-center" >
            <%= link_to 'Cadastre-se', new_user_registration_path, class: 'col-sm-offset-3 col-sm-6 col-xs-12 btn btn-large btn-success btn-cadastro-large' %>
          </div>
        </div>
  			<br>
  			<br>
  			<br>
  		</div><!-- /container -->
  	</div>
  </section>

  <section class="section-contact" name="contact">
    <div id="footerwrap">
  		<div class="container">
  			<div class="col-lg-5">
  				<h3>Código Aberto</h3>
  				<p>
            <a href="https://github.com/thiago-sydow/controle-de-ponto/">
              <i class="fa fa-github"></i>
              thiago-sydow/controle-de-ponto
            </a>
  				</p>
          <h3>Email para contato</h3>
  				<p>
            <a href="mailto:contato@meucontroledeponto.com.br">contato@meucontroledeponto.com.br</a>
  				</p>
  			</div>

  			<div class="col-lg-7">
  				<h3>Envie uma mensagem !</h3>
          <%= render 'layouts/flash_messages' %>
  				<br>
          <%= simple_form_for @contact, url: contact_path, :html => {:class => 'form-horizontal' } do |f| %>
            <%= f.input :name, :required => true %>
            <%= f.input :email, :required => true %>
            <%= f.input :message, :as => :text, :required => true %>
            <div class= "hidden">
              <%= f.input :nickname, :hint => 'Leave this field blank!' %>
            </div>
            <div class="form-group">
              </br>
              <%= f.button :submit, 'Enviar', :class=> "btn btn-primary" %>
            </div>
          <% end %>
  			</div>
  		</div>
  	</div>
  </section>

	<%= javascript_include_tag 'jquery.min' %>
  <%= javascript_include_tag 'jquery.smint' %>
  <%= javascript_include_tag 'bootstrap' %>
	<script>
    $('.menu').smint({
      'scrollSpeed' : 1500,
      'mySelector' : 'section'
    });
  	$('.carousel').carousel({
  	  interval: 3500
  	});
	</script>
  <% if @render_from_form %>
  <script>
    $("html, body").animate({ scrollTop: $(document).height() }, "slow");
  </script>
  <% end %>
  </body>
</html>
