<div class="page-header">
  <h1>Siga os passos para começar a utilizar</h1>
</div>
<div class="span4">
  <div class="well sidebar-nav">
    <h3>Passo 1</h3>
    <ul class="nav nav-list">                
      <li><%= link_to "Link1", "/path1"  %></li>
      <li><%= link_to "Link2", "/path2"  %></li>
      <li><%= link_to "Link3", "/path3"  %></li>
    </ul>
  </div>
</div>
<div class="span4">
  <div class="well sidebar-nav">
    <h3>Passo 1</h3>
    <ul class="nav nav-list">                
      <li><%= link_to "Link1", "/path1"  %></li>
      <li><%= link_to "Link2", "/path2"  %></li>
      <li><%= link_to "Link3", "/path3"  %></li>
    </ul>
  </div>
</div>
<div class="span3">
  <div class="well sidebar-nav">
    <h3>Passo 1</h3>
    <ul class="nav nav-list">                
      <li><%= link_to "Link1", "/path1"  %></li>
      <li><%= link_to "Link2", "/path2"  %></li>
      <li><%= link_to "Link3", "/path3"  %></li>
    </ul>
  </div>
</div>