<%= simple_form_for @day_record do |f| %>
  <%= f.hidden_field :id %>
  <%= f.input :reference_date, wrapper_html: {class: 'col-sm-2 col-md-2'}, input_html: { value: localize(f.object.reference_date, format: "%d/%m/%Y"), class: 'datepicker'} %>
  <%= f.input :work_day, wrapper_html: {class: 'col-sm-2 col-md-2'} do %>
    <%= f.input_field :work_day, as: :boolean, class: 'yes-no-checkbox-switch', checked: @day_record.work_day == 1  %>
  <% end %>
  <%= f.input :missed_day, wrapper_html: {class: 'col-sm-2 col-md-2'} do %>
    <%= f.input_field :missed_day, as: :boolean, class: 'yes-no-checkbox-switch', checked: @day_record.missed_day == 1 %>
  <% end %>
  <%= f.input :observations, as: :text, wrapper_html: {class: 'col-sm-6 col-md-6'} %>

  <div class="row time-records-container">
    <h3 class="heading text-left">Horários</h3>
    <div class="row">

    </div>
    <%= f.simple_fields_for :time_records do |time_record| %>
      <%= render 'time_record_fields', f: time_record %>
    <% end %>

    <div class="col-sm-2 col-md-2" style="margin-left: -10px;">
      <%= link_to_add_association '<i class="fa fa-plus-circle fa-3x text-success"></i>'.html_safe, f, :time_records,
        {
          'data-association-insertion-node' => '.nested-fields:last',
          'data-association-insertion-method' => 'after'
        } %>
    </div>
  </div>

  <%= f.button :submit %>
<% end %>
