<%= simple_form_for day_record do |f| %>
<div class="row">
    <%= f.hidden_field :id %>
    <%= f.input :reference_date, wrapper_html: {class: 'col-xs-3 col-md-2 text-center'}, input_html: { value: (localize(f.object.reference_date) if f.object.reference_date), class: 'datepicker text-center'} %>
    <%= f.input :work_day, wrapper_html: {class: 'col-xs-3 col-md-2 text-center'}, label_html: {class: 'col-xs-12'} do %>
      <%= f.input_field :work_day, as: :boolean, class: 'yes-no-checkbox-switch', checked: f.object.work_day == 1  %>
    <% end %>
    <%= f.input :missed_day, wrapper_html: {class: 'col-xs-3 col-md-2 text-center'}, label_html: {class: 'col-xs-12'} do %>
      <%= f.input_field :missed_day, as: :boolean, class: 'yes-no-checkbox-switch', checked: f.object.missed_day == 1 %>
    <% end %>
    <% if current_user.current_account.class == CltWorkerAccount %>
      <%= f.input :medical_certificate, wrapper_html: {class: 'col-xs-3 col-md-2 text-center'}, label_html: {class: 'col-xs-12'} do %>
        <%= f.input_field :medical_certificate, as: :boolean, class: 'yes-no-checkbox-switch', checked: f.object.medical_certificate == 1 %>
      <% end %>
    <% end %>
    <%= f.input :observations, as: :text, wrapper_html: {class: 'col-xs-12 col-md-4'} %>

</div>
<div class="row">
  <h3 class="header blue">Horários <small>Cadastre aqui os horários para este dia</small> </h3>
  <div class="row time-records-container">
    <%= f.fields_for :time_records do |time_record| %>
      <%= render 'time_record_fields', f: time_record %>
    <% end %>

    <div class="col-xs-12 col-md-1 text-center add-container" style="margin-top: 15px;">
      <%= link_to_add_association '<i class="fa fa-plus-circle fa-3x text-success"></i>'.html_safe, f, :time_records,
        {
          'data-association-insertion-node' => '.add-container',
          'data-association-insertion-method' => 'before'
        } %>
    </div>
  </div>
</div>

  <%= f.button :submit, save_and_add_text(f.object), name: 'save_and_add' %>
  <%= f.button :submit %>
<% end %>
