<div class="row">
  <div class="col-xs-12">
    <div class="col-xs-12 col-sm-6">
      <%= simple_form_for :date_range, wrapper: :inline_form,
                                       html: { class: 'form-inline row' },
                                       url: day_records_path,
                                       method: :get do |f| %>
      <a href="#" class="btn btn-default btn-sm col-xs-2 hidden-xs" id="daterange-btn">
          <i class="fa fa-calendar"></i> Datas
          <i class="fa fa-caret-down"></i>
      </a>
      <%= f.input :from, input_html: { name: 'from',
                                       value: from.strftime('%d/%m/%Y'), class: 'col-xs-12 text-center' }, wrapper_html: { class: 'col-xs-5 col-sm-4' } %>
      <%= f.input :to, input_html: { name: 'to',
                                     value: to.strftime('%d/%m/%Y'), class: 'col-xs-12 text-center' }, wrapper_html: { class: 'col-xs-5 col-sm-4' } %>
      <div class="form-group col-xs-2">
        <%= f.button :submit, 'Filtrar', { class: 'btn btn-primary btn-sm' } %>
      </div> 
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <h4 class="col-xs-12 label label-<%= get_color_balance(balance_period) %> label-white middle balance-sum">
        Saldo total para o periodo:
        <strong class="time-p text-<%= get_color_balance(balance_period) %>"><%= balance_period.to_s %>
          <i class="fa <%= get_icon_balance(balance_period) %>"></i>
        </strong>
      </h4>
    </div>
    <div class="col-xs-12 col-sm-2 pull-right text-right row">
      <div class="btn-group">
				<button data-toggle="dropdown" class="btn dropdown-toggle" aria-expanded="false">
					Exportar
					<span class="ace-icon fa fa-caret-down icon-on-right"></span>
				</button>
				<ul class="dropdown-menu dropdown-default">
					<li>
            <%= link_to 'Para PDF', export_day_records_path(format: 'pdf', from: from, to: to) %>
					</li>
          <li>
            <%= link_to 'Para XLSX', export_day_records_path(format: 'xlsx', from: from, to: to) %>
          </li>
				</ul>
			</div>
    </div>
  </div>
</div>
