<h1 class="heading text-left">Relatório de Horas</h1>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th class="text-left col-md-1">Dia</th>
      <% @max_time_records.times do |index| %>
        <th class="text-center col-md-1"><%= get_time_label_from_number(index) %></th>
      <% end %>
      <th class="text-center col-md-1" >Total</th>
      <th class="text-center col-md-1" >Saldo</th>
      <th class="text-center col-md-1" >Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @day_records.each do |day_record| %>
    <tr>
      <td>
        <h4 class="text-left"><%= l day_record.reference_date, format: :short %></h4>
      </td>
      <% @max_time_records.times do |index| %>
        <td class="text-center">
            <%= day_record.time_records.try(:[], index).try(:time).try(:to_s, :time) %>
        </td>
      <% end %>
      <%
        work_statistics = day_record.work_statistics
        balance_text_class = get_icon_and_text_color_balance(work_statistics)
      %>
      <td class="text-center">
        <span><%= work_statistics[:total_worked].to_s(:time) %></span>
      </td>
      <td>
          <strong><span class="<%= balance_text_class[:text_color] %>"><%= work_statistics[:balance].to_s(:time) %></span></strong>
          <i class="fa <%= balance_text_class[:icon_class] %>"></i>
      </td>
      <td>
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                    edit_day_record_path(day_record), :class => 'btn btn-default btn-xs' %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                    day_record_path(day_record),
                    :method => :delete,
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm")) },
                    :class => 'btn btn-xs btn-danger' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
