<% content_for :page_header do %>
  <h1 class="heading text-left">Relatório de Horas
    <small>
		  <i class="ace-icon fa fa-angle-double-right"></i>
		  Visualize os seus registros de forma fácil
		</small>
  </h1>
<% end %>
<div class="">
<%= render 'search_range' %>
</div>
<table class="table table-bordered table-hover table-list-records">
  <thead>
    <tr>
      <th class="text-left col-md-1">Dia</th>
      <% @max_time_records.times do |index| %>
        <th class="text-center col-md-1"><%= get_time_label_from_number(index) %></th>
      <% end %>
      <th class="text-center col-md-1" >Total</th>
      <th class="text-center col-md-1" >Saldo</th>
      <th class="text-center col-md-1" >Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @day_records.each do |day_record| %>
    <tr>
      <td>
        <h5 class="text-left"><%= l day_record.reference_date, format: :short %></h5>
      </td>
      <% @max_time_records.times do |index| %>
        <td class="text-center">
          <p class="time-p">
            <%= day_record.time_records.try(:[], index).try(:time).try(:to_s, :time) %>
          </p>
        </td>
      <% end %>
      <%
        work_statistics = day_record.work_statistics
        balance_text_class = get_icon_and_text_color_balance(work_statistics)
      %>
      <td class="text-center">
        <p class="time-p">
          <span><%= work_statistics[:total_worked].to_s(:time) %></span>
        </p>
      </td>
      <td class="text-center">
        <p class="time-p">
          <strong><span class="<%= balance_text_class[:text_color] %>"><%= work_statistics[:balance].to_s(:time) %></span></strong>
          <i class="fa <%= balance_text_class[:icon_class] %>"></i>
        </p>
      </td>
      <td class="text-center">
        <%= link_to edit_day_record_path(day_record), class: 'btn btn-primary btn-xs' do %>
          <i class="fa fa-pencil-square-o"></i>
          <%= t('helpers.links.edit') %>
        <% end %>

        <%= link_to day_record_path(day_record), method: :delete, data: { confirm: t('helpers.links.confirm') }, class: 'btn btn-xs btn-danger' do %>
          <i class="fa fa-trash-o"></i>
          <%= t('helpers.links.destroy') %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<div class="box-footer clearfix">
   <%= paginate @day_records %>
</div>
<script charset="utf-8">
  $(function(){
    moment.locale('pt-br');

    $('#daterange-btn').daterangepicker({
      format: 'DD/MM/YYYY',
      ranges: {
        'Hoje': [moment(), moment()],
        'Ontem': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
        'Últimos 7 dias': [moment().subtract(6, 'days'), moment()],
        'Últimos 30 dias': [moment().subtract(29, 'days'), moment()],
        'Esse mês': [moment().startOf('month'), moment().endOf('month')]
      },
      locale: {
        applyLabel: 'Aplicar',
        cancelLabel: 'Cancelar',
        fromLabel: 'De',
        toLabel: 'Até',
        weekLabel: 'W',
        customRangeLabel: 'Personalizar Data'
      },
      startDate: moment().subtract(29, 'days'),
      endDate: moment()
    },
    function(start, end) {
      $('#date_range_from').val(start.format('DD/MM/YYYY'));
      $('#date_range_to').val(end.format('DD/MM/YYYY'));
    });
  });
</script>
