<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ControlePontoEletronico</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
  <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">Controle de Ponto</a>
    </div>
    <!-- /.navbar-header -->

    <% if current_user  %>
      <ul class="nav navbar-top-links navbar-right">
        <!-- /.dropdown -->
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <%= image_tag current_user.gravatar_url %>
            <%= current_user.name.nil? ? current_user.email : current_user.name %>
            <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-user">
            <li>
              <%= link_to edit_user_registration_path do %>
                  <i class="fa fa-user fa-fw"></i> Minha Conta
              <% end %>
            </li>
            <li><a href="#"><i class="fa fa-gear fa-fw"></i> Configurações</a>
            </li>
            <li class="divider"></li>
            <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
            </li>
          </ul>
      <% end %>
        <!-- /.dropdown-user -->
      </li>
      <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
      <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
          <li>
            <%= link_to dashboard_path do %>
                <i class="fa fa-dashboard fa-fw"></i> Dashboard
            <% end %>
          </li>
          <li>
            <%= link_to records_path do %>
                <i class="fa fa-edit fa-fw"></i> Registros
            <% end %>
          </li>
          <li>
            <a href="#"><i class="fa fa-files-o fa-fw"></i> Relatórios <span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse">
              <li>
                <%= link_to reports_monthly_report_path do %>
                    <i class="fa fa-edit fa-fw"></i> Relatório Mensal
                <% end %>
              </li>
              <li>
                <%= link_to reports_full_report_path do %>
                    <i class="fa fa-edit fa-fw"></i> Relatório Anual
                <% end %>
              </li>
            </ul>
            <!-- /.nav-second-level -->
          </li>
        </ul>
      </div>
      <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
  </nav>
  <!-- /.navbar-static-side -->
  <div id="page-wrapper">
    <%= render 'layouts/messages' %>
    <%= yield %>
  </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<%= javascript_include_tag 'application' %>
</body>
</html>
