<% cache [current_user.current_account] do %>
<div class="infobox <%= get_dashboard_color(account_presenter.total_balance) %>">
  <div class="infobox-icon">
    <i class="ace-icon fa <%= get_icon_balance(account_presenter.total_balance) %>"></i>
  </div>
  <div class="infobox-data">
    <span class="infobox-data-number"><%= account_presenter.total_balance.to_s %></span>
    <div class="infobox-content">Saldo de horas
      <a class="balance-info" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="O Saldo de horas é contabilizado à partir do seu último Fechamento informado." title="Saldo de horas">
        <i class="fa fa-question-circle"></i>
      </a>
    </div>
  </div>
</div>
<% end %>

<div class="infobox infobox-blue">
  <div class="infobox-icon">
    <i class="ace-icon fa fa-user"></i>
  </div>

  <div class="infobox-data">
    <span class="infobox-data-number"><%= format_seconds_to_time(current_user.current_account.workload) %></span>
    <div class="infobox-content"><%= t "account.CltWorkerAccount.workload" %></div>
  </div>
</div>

<div class="infobox infobox-pink">
  <div class="infobox-icon">
    <i class="ace-icon fa fa-sign-out"></i>
  </div>

  <div class="infobox-data">
    <span class="infobox-data-number"><%= account_presenter.departure_time.try(:to_s, :time) || '--:--' %></span>
    <div class="infobox-content">Previsão de saída
      <a class="departure-info" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="A previsão de saída utiliza o tempo médio de almoço que você informar nas configurações, enquanto você não registrar uma Entrada 2." title="Previsão de saída">
        <i class="fa fa-question-circle"></i>
      </a>
    </div>
  </div>
</div>

<div class="infobox infobox-blue2">
  <div class="infobox-progress">
    <div class="easy-pie-chart percentage" data-percent="<%= account_presenter.percentage_worked %>" data-size="60" style="height: 60px; width: 60; line-height: 58px;">
      <span class="percent"><%= account_presenter.percentage_worked %></span>%
    <canvas height="60" width="60"></canvas></div>
  </div>

  <div class="infobox-data">
    <span class="infobox-data-number info-worked-time"><%= format_seconds_to_time(account_presenter.total_worked) %></span>

    <div class="infobox-content">Total de hoje</div>
  </div>
</div>

<% if current_user.current_account.warn_rest_period %>
  <div class="infobox infobox-orange2">
    <div class="infobox-icon">
      <i class="ace-icon fa fa-sign-in"></i>
    </div>

    <div class="infobox-data">
      <span class="infobox-data-number"><%= account_presenter.next_entrance_time.try(:to_s, :time) || '--:--' %></span>
      <div class="infobox-content">Próxima Entrada
        <a class="departure-info" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="Esta é sua próxima entrada recomendada para não infrigir o Art. 66 da CLT." title="Próxima Entrada">
          <i class="fa fa-question-circle"></i>
        </a>
      </div>
    </div>
  </div>
<% end %>
