<div class="infobox <%= get_dashboard_color(account_presenter.total_balance) %>">
  <div class="infobox-icon">
    <i class="ace-icon fa <%= get_icon_balance(account_presenter.total_balance) %>"></i>
  </div>
  <div class="infobox-data">
    <span class="infobox-data-number">
      <% cache current_user.current_account do %>
        <%= account_presenter.total_balance.to_s %>
      <% end %>
    </span>
    <div class="infobox-content">Saldo de horas
      <a class="balance-info" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="O Saldo de horas é contabilizado à partir do seu último Fechamento informado." title="Saldo de horas">
        <i class="fa fa-question-circle"></i>
      </a>
    </div>
  </div>
</div>

<div class="infobox infobox-blue">
  <div class="infobox-icon">
    <i class="ace-icon fa fa-user"></i>
  </div>

  <div class="infobox-data">
    <span class="infobox-data-number"><%= format_seconds_to_time(current_user.current_account.workload) %></span>
    <div class="infobox-content"><%= t "account.SelfEmployedAccount.workload" %></div>
  </div>
</div>

<% unless current_user.current_account.workload == 0 %>
<div class="infobox infobox-blue2">
  <div class="infobox-progress">
    <div class="easy-pie-chart percentage" data-percent="<%= account_presenter.percentage_worked %>" data-size="60" style="height: 60px; width: 60; line-height: 58px;">
      <span class="percent"><%= account_presenter.percentage_worked %></span>%
    <canvas height="60" width="60"></canvas></div>
  </div>

  <div class="infobox-data">
    <span class="infobox-data-number info-worked-time"><%= format_seconds_to_time(account_presenter.total_worked) %></span>

    <div class="infobox-content">Total de hoje</div>
  </div>
</div>
<% end %>

<% unless current_user.current_account.hourly_rate == 0 %>
  <div class="infobox infobox-orange2">
    <div class="infobox-icon">
      <i class="ace-icon fa fa-usd"></i>
    </div>

    <div class="infobox-data">
      <span class="infobox-data-number"><%= number_to_currency(account_presenter.total_earned) %></span>
      <div class="infobox-content">Ganhos
        <a class="departure-info" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="O cálculo de ganhos leva em conta o total de horas trabalhadas, e não o seu saldo." data-title="Ganhos pelo tempo trabalhado" >
          <i class="fa fa-question-circle"></i>
        </a>
      </div>
    </div>
  </div>
  <% end %>
